.todo{
  display: flex;
  flex-direction: column;
  max-width: 100%;

  &--title{
    align-self: center;
    margin: $main-spacing*2 0;
  }

  &--head{
    display: flex;
    justify-content: space-around;
    margin-bottom: $main-spacing;

    &-date{
      align-self: center;
      font-weight: 300;
    }
  }

  &--tasks{
    display: flex;
    flex-direction: column;
    margin-bottom: $main-spacing;

    &--task{
      display: flex;
      justify-content: space-around;
      margin: $main-spacing/2 0 ;
      height: auto;

      i{
        font-size: 1.5rem;
        margin: 0 $main-spacing;
        cursor: pointer;
      }

      .text{
        align-self: center;
        line-height: 1.2rem;
        max-width: 70%;
        overflow: hidden;
        flex-grow: 1;
      }
    }
  }

  &--info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: $main-spacing;

    &-counter{
      font-weight: 300;
    }

    i{
      font-size: 1.3rem;
      cursor: pointer;
    }
  }

  &--add{
    margin: $main-spacing;
    display: flex;
    justify-content: center;

    i{
      flex-grow: 1;
      font-size: 2rem;
      align-self: center;
      text-align: center;
      cursor: pointer;
    }

    input{
      flex-grow: 2;
      font-size: 1rem;
      font-weight: 300;
      padding: $main-spacing/2;
      color: $font-color;
      background-color: rgba(0,0,0,0.1);
      border: none;
      box-shadow: 4px 6px 9px -2px black;
      cursor: pointer;
    }
  }
}

.splitter{
  width: 100%;
  margin-top: $main-spacing;
  height: 1px;
  background-color: #000;
}

.fa-check-circle{
  color: green;
}

.fa-trash-alt{
  color: darkred;
}

.strike{
  text-decoration: line-through red;
}